.header {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.header > .top {
  position: relative;
  width: 85vw;
  height: 100%;
  margin: 0 auto;
}
.header > .top .logo {
  float: left;
  width: 200px;
  height: 80px;
  background: url(../img/logo_01.svg) no-repeat;
  background-position: center;
  background-size: 100%;
}
.header > .top .logo > a {
  display: block;
  height: 80px;
}
.header > .top .topMenu {
  float: left;
  height: 100%;
  text-align: center;
  margin-left: 50px;
}
.header > .top .topMenu .mainMenu > li {
  position: relative;
  float: left;
  width: auto;
  height: 80px;
  padding: 0 20px;
}
.header > .top .topMenu .mainMenu > li:hover {
  border-bottom: 5px solid rgb(0, 102, 229);
}
.header > .top .topMenu .mainMenu > li > a {
  display: block;
  line-height: 80px;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}
.header > .top .topMenu .mainMenu > li .subMenu {
  display: none;
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 10;
  background-color: #fff;
}
.header > .top .topMenu .mainMenu > li .subMenu > li {
  display: block;
  width: 200px;
  height: 50px;
  text-align: left;
  padding: 0 20px;
  z-index: 10;
  transition: 0.3s ease;
}
.header > .top .topMenu .mainMenu > li .subMenu > li > a {
  display: block;
  font-size: 17px;
  line-height: 50px;
  font-weight: 500;
  color: #000;
}
.header > .top .topMenu .mainMenu > li .subMenu > li:hover {
  background-color: #ddd;
}
.header > .top .topMenu .mainMenu > li .subMenu > li:hover a {
  font-weight: 700;
  color: #000;
}
.header > .top .topMenu .mainMenu > li:hover > .subMenu {
  display: block;
  opacity: 1;
}
.header > .top .linked {
  position: absolute;
  top: 25px;
  right: 60px;
  width: 30px;
  height: 30px;
  background: url(../img/naver_blog_01.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.header > .top .linked > a {
  display: block;
  height: 30px;
}
.header > .top #menuMobileBtn {
  display: none;
}

.mainMenu-mobile {
  display: none;
  position: absolute;
  top: 80px;
  right: -300px;
  width: 300px;
  height: 200vh;
  transition: 0.3s ease;
  z-index: 20;
  background-color: #fff;
}
.mainMenu-mobile a {
  text-decoration: none;
  color: #000;
}
.mainMenu-mobile details:not(:last-child) {
  border-bottom: 1px solid #333;
}
.mainMenu-mobile details summary {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 2rem;
  font-weight: 700;
  color: #eee;
  line-height: 50px;
  padding-left: 28px;
  background-color: #999;
  cursor: pointer;
}
.mainMenu-mobile details summary a {
  font-size: 2rem;
}
.mainMenu-mobile details summary::-webkit-details-marker {
  display: none;
}
.mainMenu-mobile details summary::before {
  position: absolute;
  content: "";
  top: 18px;
  left: 15px;
  border: 0.6rem solid;
  border-color: transparent transparent transparent #fff;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: transform 0.25s ease;
}
.mainMenu-mobile details[open] summary::before {
  transform: rotate(90deg);
}
.mainMenu-mobile details li {
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
  padding-left: 30px;
  transition: 0.5s ease;
}
.mainMenu-mobile details li:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.mainMenu-mobile details li a {
  display: block;
}

@media screen and (max-width: 1250px) {
  .header > .top {
    width: 100vw;
    padding: 0 20px;
  }
  .header > .top .topMenu {
    display: none;
  }
  .header > .top .linked {
    display: none;
    position: absolute;
    top: 25px;
    right: 80px;
    width: 30px;
    height: 30px;
    background: url(../img/naver_blog_01.png) no-repeat;
    background-size: contain;
    background-position: center;
  }
  .header > .top .linked > a {
    display: block;
    height: 30px;
  }
  .header > .top #menuMobileBtnWrap {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .header > .top #menuMobileBtnWrap #menuMobileBtn {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .header > .top #menuMobileBtnWrap #menuMobileBtn.menuMobileOn span {
    background-color: #fff;
  }
  .header > .top #menuMobileBtnWrap #menuMobileBtn.menuMobileOn span::before {
    top: 0;
    transform: rotateZ(45deg);
  }
  .header > .top #menuMobileBtnWrap #menuMobileBtn.menuMobileOn span::after {
    top: 0;
    transform: rotateZ(-45deg);
  }
  .header > .top #menuMobileBtnWrap #menuMobileBtn span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    border-radius: 2px;
    background-color: #222;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  .header > .top #menuMobileBtnWrap #menuMobileBtn span::before, .header > .top #menuMobileBtnWrap #menuMobileBtn span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #222;
    transition: all 0.3s ease;
  }
  .header > .top #menuMobileBtnWrap #menuMobileBtn span::before {
    top: -10px;
  }
  .header > .top #menuMobileBtnWrap #menuMobileBtn span::after {
    top: 10px;
  }

  .mainMenu-mobile {
    display: block;
    position: absolute;
    top: 80px;
    right: -300px;
    width: 300px;
    height: 200vh;
    transition: 0.3s ease;
    z-index: 20;
    background-color: #fff;
  }
  .mainMenu-mobile a {
    text-decoration: none;
    color: #000;
  }
  .mainMenu-mobile details:not(:last-child) {
    border-bottom: 1px solid #333;
  }
  .mainMenu-mobile details summary {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    line-height: 50px;
    padding-left: 28px;
    background-color: #999;
    cursor: pointer;
  }
  .mainMenu-mobile details summary a {
    font-size: 2rem;
  }
  .mainMenu-mobile details summary::-webkit-details-marker {
    display: none;
  }
  .mainMenu-mobile details summary::before {
    position: absolute;
    content: "";
    top: 18px;
    left: 15px;
    border: 0.6rem solid;
    border-color: transparent transparent transparent #eee;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: transform 0.25s ease;
  }
  .mainMenu-mobile details[open] summary::before {
    transform: rotate(90deg);
  }
  .mainMenu-mobile details li {
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    padding-left: 30px;
    transition: 0.5s ease;
  }
  .mainMenu-mobile details li:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  .mainMenu-mobile details li a {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
    background-color: #fff;
    z-index: 10;
  }
  .header > .top {
    position: relative;
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .header > .top .logo {
    float: left;
    width: 200px;
    height: 60px;
    background: url(../img/logo_01.svg) no-repeat;
    background-position: center;
    background-size: 80%;
  }
  .header > .top .logo > a {
    display: block;
    height: 80px;
  }
  .header > .top .topMenu {
    display: none;
  }
  .header > .top:hover > .subMenu {
    display: block;
    opacity: 0.9;
  }
  .header > .top .linked {
    display: none;
  }
  .header > .top #menuMobileBtnWrap {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .mainMenu-mobile {
    position: absolute;
    top: 60px;
    right: -300px;
    width: 300px;
    height: 200vh;
    transition: 0.5s ease;
    z-index: 20;
    background-color: #fff;
  }
  .mainMenu-mobile a {
    text-decoration: none;
    color: #000;
  }
  .mainMenu-mobile details:not(:last-child) {
    border-bottom: 1px solid #333;
  }
  .mainMenu-mobile details summary {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    line-height: 50px;
    padding-left: 28px;
    background-color: #999;
    cursor: pointer;
  }
  .mainMenu-mobile details summary a {
    font-size: 2rem;
  }
  .mainMenu-mobile details summary::-webkit-details-marker {
    display: none;
  }
  .mainMenu-mobile details summary::before {
    position: absolute;
    content: "";
    top: 18px;
    left: 15px;
    border: 0.6rem solid;
    border-color: transparent transparent transparent #eee;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: transform 0.25s ease;
  }
  .mainMenu-mobile details[open] summary::before {
    transform: rotate(90deg);
  }
  .mainMenu-mobile details li {
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    padding-left: 30px;
    transition: 0.5s ease;
  }
  .mainMenu-mobile details li:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  .mainMenu-mobile details li a {
    display: block;
  }
}

/*# sourceMappingURL=head.css.map */
