.header {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  & > .top {
    position: relative;
    width: 85vw;
    height: 100%;
    margin: 0 auto;

    // logo
    .logo {
      float: left;
      width: 200px;
      height: 80px;
      background: url(../img/logo_01.svg) no-repeat;
      background-position: center;
      background-size: 100%;

      & > a {
        display: block;
        height: 80px;
      }
    }

    // Menu
    .topMenu {
      float: left;
      height: 100%;
      text-align: center;
      margin-left: 50px;

      .mainMenu > li {
        position: relative;
        float: left;
        width: auto;
        height: 80px;
        padding: 0 20px;

        &:hover {
          border-bottom: 5px solid rgb(0, 102, 229);
        }

        & > a {
          display: block;
          line-height: 80px;
          font-size: 1.7rem;
          font-weight: 600;
          text-align: center;
          color: #000;
        }

        // subMenu
        .subMenu {
          display: none;
          position: absolute;
          top: 80px;
          left: 0px;
          z-index: 10;
          background-color: #fff;

          & > li {
            display: block;
            width: 200px;
            height: 50px;
            text-align: left;
            padding: 0 20px;
            z-index: 10;
            transition: 0.3s ease;

            & > a {
              display: block;
              font-size: 17px;
              line-height: 50px;
              font-weight: 500;
              color: #000;
            }

            &:hover {
              background-color: #ddd;

              a {
                font-weight: 700;
                color: #000;
              }
            }
          }
        }

        &:hover > .subMenu {
          display: block;
          opacity: 1;
        }

        &:nth-child(6) {
          & li:last-child {
            position: relative;

            &::after {
              display: block;
              position: absolute;
              width: 16px;
              height: 16px;
              top: 15px;
              left: 75px;
              content: "";
              background: url(../img/icon/link.png) no-repeat;
              background-size: 100%;
              background-position: center;
              filter: invert(69%) sepia(4%) saturate(2%) hue-rotate(13deg) brightness(88%) contrast(90%);
            }
          }
        }
      }
    }

    // linked
    .linked {
      position: absolute;
      top: 25px;
      right: 60px;
      width: 30px;
      height: 30px;
      background: url(../img/naver_blog_01.png) no-repeat;
      background-size: contain;
      background-position: center;

      & > a {
        display: block;
        height: 30px;
      }
    }

    #menuMobileBtn {
      display: none;
    }
  }
}

.mainMenu-mobile {
  display: none;
}

//------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------

@media screen and (max-width: 1250px) {
  .header {
    & > .top {
      width: 100vw;
      padding: 0 20px;

      // Menu
      .topMenu {
        display: none;
      }

      // linked
      .linked {
        display: none;
        position: absolute;
        top: 25px;
        right: 80px;
        width: 30px;
        height: 30px;
        background: url(../img/naver_blog_01.png) no-repeat;
        background-size: contain;
        background-position: center;

        & > a {
          display: block;
          height: 30px;
        }
      }

      #menuMobileBtnWrap {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;

        #menuMobileBtn {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;

          &.menuMobileOn {
            span {
              background-color: #fff;
            }

            span::before {
              top: 0;
              transform: rotateZ(45deg);
            }

            span::after {
              top: 0;
              transform: rotateZ(-45deg);
            }
          }

          span {
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            top: 50%;
            left: 0;
            border-radius: 2px;
            background-color: #222;
            transform: translateY(-50%);
            transition: all 0.3s ease;

            &::before,
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 4px;
              border-radius: 2px;
              background-color: #222;
              transition: all 0.3s ease;
            }

            &::before {
              top: -10px;
            }

            &::after {
              top: 10px;
            }
          }
        }
      }
    }
  }

  .mainMenu-mobile {
    display: block;
    position: absolute;
    top: 80px;
    right: -300px;
    width: 300px;
    height: 200vh;
    transition: 0.3s ease;
    z-index: 20;
    background-color: #fff;

    a {
      text-decoration: none;
      color: #000;
    }

    details {
      &:not(:last-child) {
        border-bottom: 1px solid #333;
      }
      summary {
        position: relative;
        display: block;
        width: 100%;
        height: 50px;
        font-size: 2rem;
        line-height: 50px;
        padding-left: 28px;
        background-color: #999;
        cursor: pointer;

        a {
          font-size: 2rem;
        }

        &::-webkit-details-marker {
          display: none;
        }

        &::before {
          position: absolute;
          content: "";
          top: 18px;
          left: 15px;
          border: 0.6rem solid;
          border-color: transparent transparent transparent #eee;
          transform: rotate(0);
          transform-origin: 0.2rem 50%;
          transition: transform 0.25s ease;
        }
      }

      &[open] summary {
        &::before {
          transform: rotate(90deg);
        }
      }

      li {
        height: 50px;
        line-height: 50px;
        font-size: 2rem;
        padding-left: 30px;
        transition: 0.5s ease;

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 1px;
        }

        a {
          display: block;
        }
      }
    }
  }
}

//--------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: #fff;
    z-index: 10;
    transition: all 0.5s ease;

    & > .top {
      position: relative;
      width: 100vw;
      height: 100%;
      margin: 0 auto;
      padding: 0 10px;

      // logo
      .logo {
        float: left;
        width: 200px;
        height: 60px;
        background: url(../img/logo_01.svg) no-repeat;
        background-position: center;
        background-size: 95%;

        & > a {
          display: block;
          height: 80px;
        }
      }

      // Menu
      .topMenu {
        display: none;
      }

      &:hover > .subMenu {
        display: block;
        opacity: 0.9;
      }

      .linked {
        display: none;
      }

      #menuMobileBtnWrap {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;

        #menuMobileBtn {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;

          &.menuMobileOn {
            span {
              background-color: #fff;
            }

            span::before {
              top: 0;
              transform: rotateZ(45deg);
            }

            span::after {
              top: 0;
              transform: rotateZ(-45deg);
            }
          }

          span {
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            top: 50%;
            left: 0;
            border-radius: 2px;
            background-color: #222;
            transform: translateY(-50%);
            transition: all 0.3s ease;

            &::before,
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 3px;
              border-radius: 2px;
              background-color: #222;
              transition: all 0.3s ease;
            }

            &::before {
              top: -8px;
            }

            &::after {
              top: 8px;
            }
          }
        }
      }
    }

    &.scrolling {
      top: -60px;
    }
  }

  .mainMenu-mobile {
    position: fixed;
    top: 60px;
    right: -300px;
    width: 300px;
    height: 200vh;
    transition: 0.5s ease;
    z-index: 20;
    background-color: #fff;

    a {
      text-decoration: none;
      color: #000;
    }

    details {
      &:not(:last-child) {
        border-bottom: 1px solid #333;
      }
      summary {
        position: relative;
        display: block;
        width: 100%;
        height: 50px;
        font-size: 2rem;
        color: #fff;
        line-height: 50px;
        padding-left: 28px;
        background-color: #999;
        cursor: pointer;

        a {
          font-size: 2rem;
        }

        &::-webkit-details-marker {
          display: none;
        }

        &::before {
          position: absolute;
          content: "";
          top: 18px;
          left: 15px;
          border: 0.6rem solid;
          border-color: transparent transparent transparent #eee;
          transform: rotate(0);
          transform-origin: 0.2rem 50%;
          transition: transform 0.25s ease;
        }
      }

      &[open] summary {
        &::before {
          transform: rotate(90deg);
        }
      }

      li {
        height: 50px;
        line-height: 50px;
        font-size: 2rem;
        padding-left: 30px;
        transition: 0.5s ease;

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 1px;
        }

        a {
          display: block;
        }
      }

      &:nth-child(6) {
        & li:last-child {
          position: relative;

          &::after {
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            top: 15px;
            left: 92px;
            content: "";
            background: url(../img/icon/link.png) no-repeat;
            background-size: 100%;
            background-position: center;
            filter: invert(69%) sepia(4%) saturate(2%) hue-rotate(13deg) brightness(88%) contrast(90%);
          }
        }
      }
    }
  }
}
