.lnb {
  display: block;
  top: 400px;
  right: 100px;
  width: 200px;
  height: auto;
  padding: 10px 0;
  z-index: 10;

  .lnb__menu {
    width: 100%;
    // height: 100%;

    input {
      display: none;

      &:checked + label {
        &::after {
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotateX(180deg);
          right: 10px;
        }
        & + ul {
          max-height: 300px;
        }
      }
    }

    label {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;
      font-size: 2rem;
      font-weight: 700;
      padding: 5px 10px;
      border-bottom: 2px solid rgb(0, 102, 229);

      &::after {
        display: block;
        position: absolute;
        content: "⌵";
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 1.5rem;
        transition: 0.3s ease;
      }
    }

    ul {
      max-height: 0;
      padding: 5px 0;
      overflow: hidden;
      transition: all 1s ease;

      & > li {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 10px;

        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }

        & > a {
          font-size: 1.9rem;
          font-weight: 500;
          color: #000;
        }

        &:hover > a {
          font-weight: 700;
        }
      }
    }
  }
}
