$listBackground: #eee;
$mainBottomMargin: 200;

.contentsWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vw;
  padding: 0 8vw;

  .main {
    width: 60vw;
    min-height: 400px;
    padding: 10px;
  }
}

.product_indu {
  margin-bottom: 10px;

  img {
    width: 180px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  & > h3 {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    color: #333;
  }

  & > p > span {
    font-size: 4rem;
  }
}

/* layout */
// home
.industry_home {
  width: 100%;
  height: auto;
  margin-bottom: $mainBottomMargin + px;

  .bg_industry {
    background: url(../img/industry.jpg) no-repeat;
    background-size: cover;
    background-position: 0 85%;
  }

  & > .contentsWrap {
    width: 70vw;
    margin: 0 auto;
    padding: 0;

    & > .main {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      & > a {
        display: block;
        width: 34%;
        height: 300px;
        border: 1px solid #ccc;
        padding: 60px 30px;
        text-align: center;
        color: #000;
        transition: 0.3s ease-in-out;

        &:not(:last-child) {
          border-right: none;
        }

        &:hover {
          background-color: rgba(200, 200, 200, 0.5);
        }

        & > img {
          width: 80px;
          min-height: 80px;
          margin-bottom: 30px;
        }

        & > h2 {
          font-size: 2.2rem;
          margin-bottom: 10px;
        }

        & > p {
          font-size: 1.8rem;
        }
      }
    }
  }
}

// teledyne
.industry_01 {
  width: 100%;
  height: auto;
  margin-bottom: $mainBottomMargin + px;

  // background image
  .bg_industry01 {
    background: url(../img/underwater/underwater_main_02.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  // teledyne info
  .tele_Info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: auto;
    padding: 30px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-color: #eee;

    .tele_infoText {
      padding-right: 40px;
      font-size: 2.2rem;
      line-height: 3.3rem;
    }

    .tele_infoImg {
      width: 30%;
      object-fit: contain;
    }
  }

  #underwater__connector,
  #underwater__sonar,
  #underwater__rov {
    font-size: 2.5rem;
  }

  .detail-info {
    float: right;
    font-size: 1.8rem;
    color: #999;
  }

  .contentsWrap {
    & details {
      & > summary {
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin-bottom: 30px;
        vertical-align: middle;
        cursor: pointer;

        & > img {
          height: 30px;
          object-fit: contain;
        }
      }
    }

    & > .product_indu {
      padding-left: 50px;
    }

    .tele_Con01 {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px 20px;
      margin-bottom: 30px;

      & > li {
        display: inline-block;
        width: 200px;
        height: auto;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        background-color: $listBackground;

        & > p {
          font-size: 1.8rem;
        }
      }
    }

    .teleDivision {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  }

  .sonarWrap {
    & > summary {
      font-size: 2.3rem;
      cursor: pointer;
      margin-bottom: 30px;
    }
    &[open] {
      & > summary {
        margin-bottom: 10px;
      }
    }

    .sonar {
      padding-left: 50px;
      margin-bottom: 30px;

      h3 {
        font-size: 2.8rem;
      }

      & > li {
        margin-top: 30px;
        margin-bottom: 10px;

        &:nth-child(1),
        &:nth-child(2) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 20px;
        }

        &:nth-child(2) > figure > img {
          height: 300px;
        }

        & > figure {
          display: inline-block;
          width: auto;
          padding: 20px;
          background-color: #eee;

          & > img {
            height: 110px;
            object-fit: contain;
            margin: 0 auto;
          }

          & > figcaption {
            font-size: 2rem;
            text-align: center;
            color: #777;
          }
        }

        ul {
          padding-left: 20px;
          li {
            list-style-type: disc;

            p {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  .rovWrap {
    & > summary {
      font-size: 2.3rem;
      cursor: pointer;
      margin-bottom: 30px;
      vertical-align: middle;

      & > img {
        width: 100px;
        margin-right: 20px;
      }
    }

    .rov {
      padding-left: 50px;

      h3 {
        font-size: 2.8rem;
      }

      & > li {
        margin-bottom: 10px;

        &:first-child {
          background-color: #eee;
          width: 420px;
          height: 390px;
          padding: 10px;

          & > img {
            width: 400px;
            object-fit: contain;
          }
        }
        ul {
          padding-left: 20px;
          li {
            list-style-type: disc;

            p {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

/* goudsmit */
.industry_02 {
  width: 100%;
  height: auto;
  margin-bottom: $mainBottomMargin + px;

  // background image
  .bg_industry02 {
    background: url(../img/goudsmit_main_01.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .goud_Info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: auto;
    padding: 30px;
    margin-bottom: 50px;
    background-color: #eee;

    .goud_infoText {
      padding-right: 40px;
      font-size: 2.2rem;
      line-height: 3.3rem;
    }

    .goud_infoImg {
      width: 30%;
      object-fit: contain;
    }
  }

  #magnet__gripper,
  #magnet__filter {
    font-size: 2.5rem;
  }

  .goud_Mag01,
  .goud_Mag02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px 15px;
    margin-bottom: 50px;

    & > li {
      position: relative;
      display: inline-block;
      width: 200px;
      height: auto;
      padding: 10px;
      text-align: center;
      background-color: $listBackground;

      & > img {
        height: 185px;
        object-fit: contain;
      }

      & > p {
        font-size: 18px;
      }
    }
  }

  .goud_Mag01 {
    & > li {
      &:hover {
        .selectMag {
          opacity: 1;
          cursor: pointer;
          background-color: rgba(0, 90, 255, 0.6);
        }
      }
    }
  }

  .goud_Mag02 > li {
    height: 330px;
  }

  // datasheet
  .selectMag {
    position: absolute;
    display: block;
    width: 200px;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;

    h3 {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 150px;
      color: #fff;
      font-size: 1.9rem;
      border: 2px solid #fff;
    }
  }

  .dataSheet {
    position: absolute;
    left: 12vw;
    width: 75vw;
    height: 440px;
    font-size: 2rem;
    padding: 20px;
    z-index: 50;
    background-color: #ddd;

    .closeBtn {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 3.5rem;
      color: #777;

      &:hover {
        cursor: pointer;
      }
    }

    .magImageWrap {
      position: relative;
      float: left;
      width: 30%;
      height: 400px;
      background-color: #fff;

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        text-align: center;
        color: #999;

        &:hover {
          color: #000;
          cursor: pointer;
        }

        &:first-child {
          left: 10px;
        }

        &:last-child {
          right: 10px;
        }
      }

      .magImages {
        display: flex;
        width: 80%;
        height: 90%;
        margin: 0 auto;
        align-items: center;
        object-fit: contain;

        img {
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }

      .imgController {
        width: 280px;
        height: 40px;
        margin: 0 auto;
        text-align: center;

        label {
          display: inline-block;
          height: 40px;
          font-size: 1.5rem;
          line-height: 30px;
          margin: 0 7px;
          color: #999;
        }

        input {
          &[type="radio"] {
            &:checked + label {
              color: #000;
            }
          }
        }
      }
    }

    .specInfoWrap {
      display: flex;
      float: right;
      width: 600px;
      height: 400px;
      padding: 10px;
      flex-direction: column;
      justify-content: space-between;

      .specWrap {
        width: 100%;
        height: auto;

        & > p {
          margin-bottom: 10px;
        }

        .spec {
          & p {
            height: 30px;
          }
          .specName {
            display: flex;
            flex-direction: column;
            float: left;
            width: 50%;
            gap: 5px 0;
          }
          .specValue {
            display: flex;
            flex-direction: column;
            float: right;
            width: 50%;
            gap: 5px 0;
          }
        }
      }

      .dataSheetDownWrap {
        width: 100%;
        height: auto;

        .downWrap {
          .downName {
            display: flex;
            flex-direction: column;
            float: left;
            width: 50%;
            gap: 5px 0;

            & > p {
              height: 30px;
            }
          }

          .downLink {
            float: right;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 5px 0;

            a {
              display: inline-block;
              text-align: right;
              height: 30px;

              &:hover > img {
                filter: none;
              }
            }

            img {
              margin: 0;
              width: 23px;
              height: 23px;
              filter: invert(66%) sepia(3%) saturate(30%) hue-rotate(321deg) brightness(93%) contrast(86%);
            }
          }
        }
      }
    }
  }

  @at-root .click-block {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

/* aegid */

.industry_03 {
  width: 100%;
  height: auto;
  margin-bottom: $mainBottomMargin + px;

  // background image
  .bg_industry03 {
    background: url(../img/aegid/aegid_background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .aeg_Info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 100px;
    background-color: $listBackground;

    .aeg_infoText {
      display: flex;
      padding-right: 40px;
      font-size: 2.2rem;
      line-height: 3.3rem;
    }

    .aeg_infoImg {
      width: 30%;
      object-fit: contain;
    }
  }

  #rfid__transponder {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    &::before {
      display: inline-block;
      content: "";
      width: 40px;
      height: 40px;
      background: url(../img/aegid/icon_transponder.svg) no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 10px;
    }
  }

  #rfid__reader {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    &::before {
      display: inline-block;
      content: "";
      width: 40px;
      height: 40px;
      background: url(../img/aegid/icon_readers.svg) no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 10px;
    }
  }

  #rfid__antenna {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    &::before {
      display: inline-block;
      content: "";
      width: 40px;
      height: 40px;
      background: url(../img/aegid/icon_antennas.svg) no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 10px;
    }
  }

  .aeg_Rfid01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px 15px;
    margin-bottom: 50px;

    & > li {
      display: inline-block;
      width: 200px;
      height: auto;
      padding: 10px;
      text-align: center;
      overflow: hidden;
      background-color: #eee;

      & img {
        height: 185px;
        object-fit: contain;
      }

      & p {
        font-size: 1.8rem;
      }
    }
  }
}

//---------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------
@media screen and (max-width: 767px) {
  $listBackground: #eee;

  .contentsWrap {
    padding: 0;
    .main {
      width: 90vw;
      margin: 0 auto;

      .product_indu {
        margin-bottom: 10px;

        img {
          width: 100%;
          object-fit: contain;
          margin-bottom: 10px;
        }

        & > h3 {
          font-size: 2rem;
          text-align: right;
          border-bottom: 2px solid #ccc;
          margin-bottom: 10px;
          color: #333;
        }

        & > p > span {
          font-size: 4rem;
        }
      }
    }
  }

  /* layout */

  // teledyne
  .industry_01 {
    width: 100%;
    height: auto;
    margin-bottom: $mainBottomMargin + px;

    //background image
    .bg_industry01 {
      background: url(../img/underwater/underwater_main_01.png) no-repeat;
      background-size: cover;
      background-position: center;
    }

    //teledyne info
    .tele_Info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: auto;
      padding: 30px;
      margin-bottom: 100px;
      border-radius: 10px;
      background-color: #eee;

      .tele_infoText {
        padding: 0;
        font-size: 1.5rem;
        line-height: 2.3rem;
      }

      .tele_infoImg {
        width: 100%;
        object-fit: contain;
      }
    }

    #underwater__connector,
    #underwater__sonar,
    #underwater__rov {
      font-size: 2rem;
    }

    .contentsWrap {
      & details {
        & > summary {
          display: flex;
          align-items: center;
          font-size: 1.7rem;
          margin-bottom: 30px;
          vertical-align: middle;
          cursor: pointer;
        }
      }

      // product teledyne
      .tele_Con01 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px 10px;

        & > li {
          display: inline-block;
          width: 130px;
          height: auto;
          padding: 10px;
          text-align: center;
          overflow: hidden;
          background-color: $listBackground;

          & > p {
            font-size: 1.5rem;
          }
        }
      }

      .sonarWrap {
        .sonar {
          padding-left: 0;
          margin-bottom: 30px;

          & > li {
            margin-top: 0;
            margin-bottom: 10px;

            &:nth-child(1),
            &:nth-child(2) {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;
              gap: 10px;
            }

            & > figure {
              display: inline-block;
              // width: auto;
              height: 150px;
              padding: 15px;
              background-color: #eee;

              & > img {
                width: 200px;
                height: 80%;
                object-fit: contain;
                margin: 0 auto;
              }

              & > figcaption {
                font-size: 1.8rem;
                text-align: center;
                color: #777;
              }
            }

            &:nth-child(2) > figure {
              height: 200px;

              & > img {
                width: 300px;
                height: 150px;
              }
            }

            ul {
              padding-left: 20px;
              li {
                list-style-type: disc;

                p {
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }

      .rovWrap {
        .rov {
          padding-left: 0;

          & > li {
            margin-bottom: 10px;

            &:first-child {
              background-color: #eee;
              width: 320px;
              height: 300px;
              padding: 10px;

              & > img {
                width: 300px;
                object-fit: contain;
              }
            }
            ul {
              padding-left: 20px;
              li {
                list-style-type: disc;

                p {
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  /* goudsmit */
  .industry_02 {
    width: 100%;
    height: auto;
    margin-bottom: $mainBottomMargin + px;

    // background image
    .bg_industry02 {
      background: url(../img/goudsmit_main_01.png) no-repeat;
      background-size: cover;
      background-position: center;
    }

    .goud_Info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: auto;
      padding: 30px;
      margin-bottom: 50px;
      border-radius: 10px;
      background-color: #eee;

      .goud_infoText {
        padding: 0;
        font-size: 1.5rem;
        line-height: 2.3rem;
      }

      .goud_infoImg {
        width: 100%;
        object-fit: contain;
      }
    }

    .goud_Mag01,
    .goud_Mag02 {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px 10px;

      & > li {
        position: relative;
        display: inline-block;
        width: 130px;
        height: auto;
        padding: 10px;
        text-align: center;
        background-color: $listBackground;

        & > img {
          height: 100px;
          object-fit: contain;
        }

        & > p {
          font-size: 1.5rem;
        }
      }
    }

    .goud_Mag01 {
      & > li {
        &:hover {
          .selectMag {
            display: block;
            cursor: pointer;
            border-radius: 10px;
            background-color: rgba(0, 90, 255, 0.6);
          }
        }
      }
    }

    .goud_Mag02 > li {
      height: auto;
    }

    // datasheet
    .selectMag {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: 0;

      h3 {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 90px;
        color: #fff;
        font-size: 1.5rem;
        border: 2px solid #fff;
      }
    }

    .dataSheet {
      position: absolute;
      left: 12vw;
      width: 75vw;
      height: 600px;
      font-size: 2rem;
      padding: 10px;
      z-index: 50;
      background-color: #ddd;

      .closeBtn {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 3.5rem;
        color: #777;

        &:hover {
          cursor: pointer;
        }
      }

      .magImageWrap {
        position: relative;
        float: left;
        width: 100%;
        height: 50%;
        background-color: #fff;

        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 30px;
          text-align: center;
          color: #999;

          &:hover {
            color: #000;
            cursor: pointer;
          }

          &:first-child {
            left: 5px;
          }

          &:last-child {
            right: 5px;
          }
        }

        .magImages {
          display: flex;
          width: 80%;
          height: 80%;
          margin: 0 auto;
          align-items: center;
          object-fit: contain;

          img {
            width: 100%;
            height: 100%;
            margin: 0;
          }
        }

        .imgController {
          width: 100%;
          height: 40px;
          margin: 0 auto;
          text-align: center;

          label {
            display: inline-block;
            height: 40px;
            font-size: 1.3rem;
            line-height: 30px;
            margin: 0 7px;
            color: #999;
          }

          input {
            &[type="radio"] {
              &:checked + label {
                color: #000;
              }
            }
          }
        }
      }

      .specInfoWrap {
        display: flex;
        float: right;
        width: 100%;
        height: 50%;
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          font-size: 2rem;
        }

        .specWrap {
          width: 100%;
          height: auto;

          & > p {
            margin-bottom: 10px;
            font-size: 1.5rem;
          }

          .spec {
            p {
              font-size: 1.5rem;
              b {
                font-size: 1.5rem;
              }
            }
            .specName {
              float: left;
              width: 50%;
            }
            .specValue {
              float: right;
              width: 50%;

              p {
                text-align: right;
              }
            }
          }
        }

        .dataSheetDownWrap {
          width: 100%;
          height: auto;

          .downWrap {
            .downName {
              float: left;
              width: 50%;

              p {
                font-size: 1.5rem;
              }
            }

            .downLink {
              float: right;
              width: 50%;
              display: flex;
              flex-direction: column;

              a {
                display: inline-block;
                text-align: right;
              }

              img {
                margin: 0;
                width: 23px;
                height: 23px;
                filter: invert(66%) sepia(3%) saturate(30%) hue-rotate(321deg) brightness(93%) contrast(86%);
              }
            }
          }
        }
      }
    }

    @at-root .click-block {
      position: fixed;
      top: 0px;
      width: 100vw;
      height: 100vh;
      z-index: 40;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  /* aegid */

  .industry_03 {
    width: 100%;
    height: auto;
    margin-bottom: $mainBottomMargin + px;

    .aeg_Info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: auto;
      padding: 30px;
      border-radius: 10px;
      margin-bottom: 100px;
      background-color: $listBackground;

      .aeg_infoText {
        display: flex;
        padding-right: 40px;
        font-size: 1.5rem;
        line-height: 3.3rem;
      }

      .aeg_infoImg {
        width: 100%;
        object-fit: contain;
      }
    }

    .aeg_Rfid01 {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px 10px;

      & > li {
        // position: relative;
        display: inline-block;
        width: 135px;
        height: auto;
        padding: 10px;
        text-align: center;
        background-color: $listBackground;

        & img {
          height: 100px;
          object-fit: contain;
        }

        & p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
